PUBLIC_RTDB=https://nefu-anime-default-rtdb.asia-southeast1.firebasedatabase.app
BOT_TOKEN=6322738178:AAG2nxNLoO8upLC4QDY7I-A_rLVGSL6L4Kk
E2B_APIKEY=e2b_6eb3b372e8e7ff849df21da60cdf8b04eda0d210
OPENAI_BASEURL=https://openrouter.ai/api/v1
OPENAI_APIKEY=sk2-or-v1-b136d5b300d31a7218e11bfe1842e6c08784c04c6607279fa3d55c1cd9962c14
OPENAI_MODEL=openrouter/free
