PUBLIC_RTDB=https://nefu-anime-default-rtdb.asia-southeast1.firebasedatabase.app
BOT_TOKEN=6322738178:AAG2nxNLoO8upLC4QDY7I-A_rLVGSL6L4Kk
E2B_APIKEY=e2b_6eb3b372e8e7ff849df21da60cdf8b04eda0d210
OPENAI_BASEURL=https://openrouter.ai/api/v1
OPENAI_APIKEY=sk1-or-v1-920e75f0a97bf5df32b4e25daf5219c6efba09d2cf87a47f065f16d7395fa8ad
OPENAI_MODEL=openrouter/free
